* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #36393F;
}

.copy-constainer {
  display: flex;
  align-items: center;
}
.copy-btn {
  position: relative;
  background: black;
  outline: none;
  border: none;
  border-radius: 7px;
  width: 120px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}
.copy-btn:hover .btn-hover circle {
  transition: 1s;
  cy: 20;
  r: 40px;
  fill: #78EBF1;
}
.btn-hover circle {
  transition: 1s;
  cy: 100;
}
.btn-hover {
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgb(0, 247, 255);
}
.btn-text {
  position: relative;
  z-index: 3;
}
.copy-btn:hover .btn-text{
  transition: 1s;
  color: rgb(0, 0, 0);
}

.text-copy {
  margin-left: 30px;
  font-size: 20px;
}